<ion-header>

  <ion-navbar color="one">
    <ion-title>تسجيل الدخول</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="auth-page">
  <!--<ion-card>-->
  <!--<ion-card-header>-->
  <!--Login-->
  <!--</ion-card-header>-->
  <!--<ion-card-content>-->
  <ion-list class="list-form">
    <form novalidate (ngSubmit)="login()" [formGroup]="LoginForm">

      <ion-item>
        <ion-label floating>رقم الهاتف:</ion-label>
        <ion-input type="number" maxlength="10" minlength="10" max="10" min="10" [(ngModel)]="userData.phone"
                   formControlName="phone"
                   [class.error1]="!LoginForm.controls.phone.valid && LoginForm.controls.phone.dirty"></ion-input>
      </ion-item>

      <ion-item no-lines
                *ngIf="( LoginForm.get('phone').hasError('minlength') || LoginForm.get('phone').hasError('maxlength') ||LoginForm.get('phone').hasError('pattern') ||LoginForm.get('phone').hasError('required') ) && LoginForm.get('phone').touched">
        <div class="error" *ngIf="LoginForm.get('phone').hasError('phone') && LoginForm.get('phone').touched">
          الرجاء ادخال رقم الهاتف
        </div>
        <div class="error" *ngIf="LoginForm.get('phone').hasError('minlength') && LoginForm.get('phone').touched">
          اقل عدد لرقم الهاتف 10 ارقام
        </div>
        <div class="error" *ngIf="LoginForm.get('phone').hasError('maxlength') && LoginForm.get('phone').touched">
          لا يمكن اضافة اكثر من 10 اعداد لرقم الهاتف
        </div>
        <div class="error" *ngIf="LoginForm.get('phone').hasError('pattern') && LoginForm.get('phone').touched">
          فقط ارقام -
          تبدا بـ 09 - 01
        </div>
      </ion-item>


      <ion-item>
        <ion-label floating>الرقم السري:</ion-label>
        <ion-input type="password" maxlength="30" minlength="6" max="30" min="6" [(ngModel)]="userData.password"
                   formControlName="password"
                   [class.error1]="!LoginForm.controls.password.valid && LoginForm.controls.password.dirty"></ion-input>
      </ion-item>

      <ion-item no-lines
                *ngIf="( LoginForm.get('password').hasError('minlength') || LoginForm.get('password').hasError('maxlength') ||LoginForm.get('password').hasError('pattern') ||LoginForm.get('password').hasError('required') ) && LoginForm.get('password').touched">
        <div class="error" *ngIf="LoginForm.get('password').hasError('password') && signupform.get('password').touched">
          الرجاء ادخال الرقم السري
        </div>
        <div class="error" *ngIf="LoginForm.get('password').hasError('minlength') && LoginForm.get('password').touched">
          اقل عدد 4 لكلمة المرور
        </div>
        <div class="error" *ngIf="LoginForm.get('password').hasError('maxlength') && LoginForm.get('password').touched">
          لا يمكن اضافة اكثر من 6 ارقام لكلمة المرور
        </div>
        <div class="error" *ngIf="LoginForm.get('password').hasError('pattern') && LoginForm.get('password').touched">
          فقط استخدم الارقام(0-9)
        </div>
      </ion-item>

      <button type="submit" ion-button block color="one" [disabled]="LoginForm.invalid">دخول</button>
    </form>
  </ion-list>

  <button ion-button clear round (click)="Registrtion()">تسجيل عضوية جديدة</button>
  <!--</ion-card-content>-->
  <!--</ion-card>-->
</ion-content>
