<ion-header>

  <ion-navbar color="one">
    <ion-title>تحويل من بطاقة</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <form novalidate (ngSubmit)="sendData()" [formGroup]="ElectForm">

      <ion-item>
        <ion-label>اختار المحفظة:</ion-label>
        <ion-select [(ngModel)]="cardInfo.id" formControlName="id">
          <ion-option *ngFor="let item of PAN" value="{{item.id}}">{{item.name}}</ion-option>
          <!--<ion-option *ngFor="let item of PAN" [hidden]="isFilter(item.PAN)" value="{{item.id}}">{{item.name}}</ion-option>-->
        </ion-select>
      </ion-item>

      <!--<ion-item *ngIf="cardPan == null">-->
      <ion-item>
        <ion-label floating>الي:</ion-label>
        <ion-input type="number" placeholder="رقم الحساب المرسل اليه" [(ngModel)]="cardInfo.to"
                   value="{{cardPan}}"
                   formControlName="to"
                   [class.error1]="!ElectForm.controls.to.valid && ElectForm.controls.to.dirty"></ion-input>
      </ion-item>


      <ion-item no-lines
                *ngIf="( ElectForm.get('to').hasError('minlength') || ElectForm.get('to').hasError('maxlength') ||ElectForm.get('to').hasError('pattern') ||ElectForm.get('to').hasError('required') ) && ElectForm.get('to').touched">
        <div class="error" *ngIf="ElectForm.get('to').hasError('to') && ElectForm.get('to').touched">
          ادخل رقم البطاقة
        </div>
        <div class="error" *ngIf="ElectForm.get('to').hasError('minlength') && ElectForm.get('to').touched">
          رقم البطاقة يجب ان لا يقل 16
        </div>  <div class="error" *ngIf="ElectForm.get('to').hasError('maxlength') && ElectForm.get('to').touched">
          رقم البطاقة يجب ان لا يتجاوز 30
        </div>
        <div class="error" *ngIf="ElectForm.get('to').hasError('pattern') && ElectForm.get('to').touched">
          رقم البطاقة مكون من اعداد صحيحة        </div>
      </ion-item>


      <ion-item>
        <ion-label floating>القيمة:</ion-label>
        <ion-input type="number" placeholder="القيمة" [(ngModel)]="cardInfo.amount"
                   formControlName="amount"
                   [class.error1]="!ElectForm.controls.amount.valid && ElectForm.controls.amount.dirty"></ion-input>
      </ion-item>

      <ion-item no-lines
                *ngIf="( ElectForm.get('amount').hasError('minlength') || ElectForm.get('amount').hasError('maxlength') ||ElectForm.get('amount').hasError('pattern') ||ElectForm.get('amount').hasError('required') ) && ElectForm.get('amount').touched">
        <div class="error" *ngIf="ElectForm.get('amount').hasError('amount') && ElectForm.get('amount').touched">
          الرجاء ادخال القيمة
        </div>
        <div class="error" *ngIf="ElectForm.get('amount').hasError('minlength') && ElectForm.get('amount').touched">
          القيمة عدد صحيح فقط, اكبر من 1
        </div>
        <div class="error" *ngIf="ElectForm.get('amount').hasError('pattern') && ElectForm.get('amount').touched">
          فقط ارقام صحيحة, 0-9
        </div>
      </ion-item>

      <ion-item>
        <ion-label floating>الرقم السري للانترنت:</ion-label>

        <ion-input type="password" placeholder="IPIN Number" [(ngModel)]="cardInfo.IPIN"
                   formControlName="IPIN"
                   [class.error1]="!ElectForm.controls.IPIN.valid && ElectForm.controls.IPIN.dirty"></ion-input>
      </ion-item>

      <ion-item no-lines
                *ngIf="( ElectForm.get('IPIN').hasError('minlength') || ElectForm.get('IPIN').hasError('maxlength') ||ElectForm.get('IPIN').hasError('pattern') ||ElectForm.get('IPIN').hasError('required') ) && ElectForm.get('IPIN').touched">
        <div class="error" *ngIf="ElectForm.get('IPIN').hasError('IPIN') && ElectForm.get('IPIN').touched">
          ادخل الرقم السري
        </div>
        <div class="error" *ngIf="ElectForm.get('IPIN').hasError('minlength') && ElectForm.get('IPIN').touched">
          اقل عدد 4
        </div>
        <div class="error" *ngIf="ElectForm.get('IPIN').hasError('maxlength') && ElectForm.get('IPIN').touched">
          لايمكن اضافة اكثر من 6 رقم
        </div>
        <div class="error" *ngIf="ElectForm.get('IPIN').hasError('pattern') && ElectForm.get('IPIN').touched">
          فقط ارقام
        </div>
      </ion-item>

      <button type="submit" ion-button block color="one" [disabled]="ElectForm.invalid">تحويل</button>
      <!-- <button type="submit" ion-button block color="one">تحويل</button> -->
    </form>
  </ion-list>
</ion-content>
