<ion-header>

  <ion-navbar color="one">
    <ion-title>شحن رصيد</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>

    <form novalidate (ngSubmit)="SendRecharge()" [formGroup]="RechargeForm">

      <ion-item>
        <ion-label>اختار المحفظة:</ion-label>
        <ion-select [(ngModel)]="RechargeData.id" formControlName="id">
          <ion-option *ngFor="let item of PAN"  value="{{item.id}}">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>


      <ion-item>
        <ion-label>اختار الشبكة:</ion-label>
        <ion-select [(ngModel)]="RechargeData.biller" formControlName="biller" (ionChange)="applyCategoryFilter()">
          <ion-option value="MTN">MTN</ion-option>
          <ion-option value="Sudani">Sudani</ion-option>
          <ion-option value="Zain">Zain</ion-option>
        </ion-select>
      </ion-item>


      <ion-item>
        <ion-label floating>رقم الهاتف:</ion-label>
        <ion-input type="number" maxlength="10" minlength="10" max="10" min="10" [(ngModel)]="RechargeData.phone"
                   formControlName="phone" placeholder="0912345678"
                   [class.error1]="!RechargeForm.controls.phone.valid && RechargeForm.controls.phone.dirty"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="errorP == 1 ">
        <div class="error">
          يبدا ب الرقم يبدا ب 09 او 01
        </div>
      </ion-item>
      <ion-item no-lines *ngIf="errorP == 2 ">
        <div class="error"></div>
      </ion-item>

      <ion-item no-lines
                *ngIf="( RechargeForm.get('phone').hasError('minlength') || RechargeForm.get('phone').hasError('maxlength') ||RechargeForm.get('phone').hasError('pattern') ||RechargeForm.get('phone').hasError('required') ) && RechargeForm.get('phone').touched">
        <div class="error" *ngIf="RechargeForm.get('phone').hasError('phone') && RechargeForm.get('phone').touched">
          الرجاء ادخال رقم الهاتف
        </div>
        <div class="error" *ngIf="RechargeForm.get('phone').hasError('minlength') && RechargeForm.get('phone').touched">
          لا بمكن ادخال اقل من 10 ارقام
        </div>
        <div class="error" *ngIf="RechargeForm.get('phone').hasError('maxlength') && RechargeForm.get('phone').touched">
          لا بمكن اضافة اكثر من 10
        </div>
        <div class="error" *ngIf="RechargeForm.get('phone').hasError('pattern') && RechargeForm.get('phone').touched">
          فقط ارقام تبدا بـ09 أو 01
        </div>

      </ion-item>


      <ion-item>
        <ion-label floating>القيمة المراد شحنها:</ion-label>
        <ion-input type="number" maxlength="4" minlength="1" max="4" min="1" [(ngModel)]="RechargeData.amount"
                   formControlName="amount"
                   [class.error1]="!RechargeForm.controls.amount.valid && RechargeForm.controls.amount.dirty"></ion-input>
      </ion-item>
      <ion-item no-lines>
        <div class="error" *ngIf="error == 1 ">
          <span style="color:red;">خطا في القيمة المدخلة</span>
        </div>
        <div class="error" *ngIf="error == 2 "></div>
      </ion-item>
      <ion-item no-lines
                *ngIf="( RechargeForm.get('amount').hasError('minlength') || RechargeForm.get('amount').hasError('maxlength') ||RechargeForm.get('amount').hasError('pattern') ||RechargeForm.get('amount').hasError('required') ) && RechargeForm.get('amount').touched">
        <div class="error" *ngIf="RechargeForm.get('amount').hasError('amount') && signupform.get('amount').touched">
          الرجاء ادخال قيمة الشحن
        </div>
        <div class="error"
             *ngIf="RechargeForm.get('amount').hasError('minlength') && RechargeForm.get('amount').touched">
          اقل قيمة 1
        </div>
        <div class="error"
             *ngIf="RechargeForm.get('amount').hasError('maxlength') && RechargeForm.get('amount').touched">
          Maximum 4 Number
        </div>
        <div class="error" *ngIf="RechargeForm.get('amount').hasError('pattern') && RechargeForm.get('amount').touched">
          فقط ارقام
        </div>
      </ion-item>


      <ion-item>
        <ion-label floating>الرقم السري:</ion-label>
        <ion-input type="password" maxlength="4" minlength="4" max="4" min="4" [(ngModel)]="RechargeData.IPIN"
                   formControlName="IPIN"
                   [class.error1]="!RechargeForm.controls.IPIN.valid && RechargeForm.controls.IPIN.dirty"></ion-input>
      </ion-item>

      <ion-item no-lines
                *ngIf="( RechargeForm.get('IPIN').hasError('minlength') || RechargeForm.get('IPIN').hasError('maxlength') ||RechargeForm.get('IPIN').hasError('pattern') ||RechargeForm.get('IPIN').hasError('required') ) && RechargeForm.get('IPIN').touched">
        <div class="error" *ngIf="RechargeForm.get('IPIN').hasError('IPIN') && signupform.get('IPIN').touched">
          Please input your ipin
        </div>
        <div class="error" *ngIf="RechargeForm.get('IPIN').hasError('minlength') && RechargeForm.get('IPIN').touched">
          وصلة الي اقصى قيمة ممكنة
        </div>
        <div class="error" *ngIf="RechargeForm.get('IPIN').hasError('maxlength') && RechargeForm.get('IPIN').touched">
          4 ارقام علي الاقل
        </div>
        <div class="error" *ngIf="RechargeForm.get('IPIN').hasError('pattern') && RechargeForm.get('IPIN').touched">
          فقط ارقام
        </div>
      </ion-item>

      <button type="submit" ion-button block color="one" [disabled]="RechargeForm.invalid">شحن</button>

    </form>
  </ion-list>

</ion-content>
