<ion-header>
  <ion-navbar color="one">
    <ion-buttons left>
      <button ion-button icon-only (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>رجوع
      </button>
    </ion-buttons>
    <ion-title>سجل المعاملات</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list *ngIf="data">
    <ion-item *ngFor="let item of data">
      <ion-card (click)="openDetails(item)">
        <ion-icon icon-left color="two" name="trash" class="text-white"></ion-icon>
            <h3 text-center *ngIf="item.type !== null">نوع المعاملة:
              {{item.type}}</h3>
        <h1 text-center *ngIf="item.Response !== null">#رقم: {{item.Response.id}}</h1>
        <div text-center *ngIf="item.Response == undefined"><p style="color: red">خطا - فشلة العملية</p></div>
        <p text-center *ngIf="item.Response !== null">الحالة: {{item.Response.responseMessage}}</p>
        <ion-icon color="two" name="time" class="text-white"></ion-icon>
        <span ion-text *ngIf="item.Response !== null">بتاريخ: {{item.Response.created_at | date : 'short'}}</span>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
